@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.box{
    width: 450px;
    margin: auto;
    background-color: white;
    border-radius:10px;
    box-shadow: 0px 0px 54px -3px rgba(0,0,0,0.75)
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh ;
    background-image: url('school.svg');
}

img{
    width:250px
}

.inputs{
    justify-content: center;
    display: flex;
}

.typing-input{
    width: 400px;
    height: 100px;
    opacity:0;
    z-index:999;
    position : absolute;
}

.inputs input{
    font-size: 25px;
    text-align: center;
    color:rgb(21, 175, 124);
    margin: 9px;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 5px;
    border:1px solid rgb(219, 216, 216);    
    background: white;
    text-transform: capitalize;

}
input:first-child{
   margin-left: 0px; 
}
.reset{
justify-content: center;
}

h1{
    padding: 20px 25px;
    font-size: 25px;
    font-weight: 500px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.contents{
margin:25px 25px 35px;
}

hr{
   width: 100%;

}

.details{
    font-size: 20px;
    margin:25px 5px 25px;
    margin-bottom: 10px;
}

.reset{
    cursor: pointer;
    border: none;
    width:100%;  
    font-size: 17px;
    padding: 15px 0px ;
    /* color: ; */
    color: white;
    background: rgb(21, 175, 124);
    border-radius: 5px;
}

img{
    width: 90%;
}


